openapi: 3.0.3
info:
  title: WB Buyer Product Search Service API
  description: API сервиса WB Buyer для поиска и фильтрации товаров, а также регистрации и авторизации пользователей
  version: 1.0.0

servers:
  - url: https://wbbuyer.com/api/v1

tags:
  - name: product
    description: Everything about product search and retrieval
  - name: user
    description: User authentication and registration

paths:
  /products:
    get:
      tags:
        - product
      summary: Поиск товаров
      description: Возвращает список товаров, соответствующих заданным параметрам поиска. Доступен с главной страницы, страницы категории и страницы поиска.
      parameters:
        - name: query
          in: query
          description: Ключевые слова для поиска товаров, названия товаров
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Номер страницы для пагинации
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: size
          in: query
          description: Количество товаров на странице
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: lang
          in: query
          description: Язык интерфейса для адаптации названий товаров и описаний
          required: false
          schema:
            type: string
            enum: [ru, en, fr, es]
            default: en
        - name: min_price
          in: query
          description: Минимальная цена товара
          required: false
          schema:
            type: number
            format: float
        - name: max_price
          in: query
          description: Максимальная цена товара
          required: false
          schema:
            type: number
            format: float
        - name: category
          in: query
          description: Список категорий, по которым происходит поиск
          required: false
          schema:
            type: array
            items: 
              type: string
        - name: brand
          in: query
          description: Список брендов, по которым происходит поиск
          required: false
          schema:
            type: array
            items: 
              type: string
      responses:
        '200':
          description: Список товаров, соответствующих запросу
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        '400':
          description: Ошибка в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /products/{productId}:
    get:
      tags:
        - product
      summary: Получение информации о товаре
      description: Возвращает информацию о конкретном товаре по идентификатору.
      parameters:
        - name: productId
          in: path
          required: true
          description: Идентификатор товара
          schema:
            type: string
      responses:
        '200':
          description: Информация о товаре
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          description: Товар не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/register:
    post:
      tags:
        - user
      summary: Регистрация нового пользователя
      description: Регистрирует нового пользователя в системе WB Buyer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterData'
      responses:
        '201':
          description: Пользователь успешно зарегистрирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
        '400':
          description: Ошибка в запросе, возможно, пользователь уже существует
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags:
        - user
      summary: Авторизация пользователя
      description: Авторизует пользователя в системе и возвращает токен для доступа.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginData'
      responses:
        '200':
          description: Успешная авторизация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
        '401':
          description: Неверные учетные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Отказ в доступе, если у пользователя нет прав доступа к ресурсу
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    Product:
      type: object
      properties:
        id:
          type: integer
          description: Идентификатор товара
        name:
          type: string
          description: Название товара
        description:
          type: string
          description: Описание товара
        price:
          type: number
          format: float
          description: Цена товара
        rating:
          type: integer
          minimum: 1
          maximum: 500000
          description: Рейтинг товара
        category:
          $ref: '#/components/schemas/Category'
        stock:
          type: integer
          description: Количество товара в наличии
        images:
          type: array
          items:
            type: string
            format: uri
            description: URL изображения товара
        discount:
          type: number
          format: float
          description: Скидка на товар в процентах

    Category:
      type: object
      properties:
        id:
          type: string
          description: Идентификатор категории
        name:
          type: string
          description: Название категории

    RegisterData:
      type: object
      properties:
        fullname:
          type: string
          description: ФИО пользователя
        email:
          type: string
          format: email
          description: Электронная почта пользователя
        phone:
          type: string
          description: Телефон пользователя
        password:
          type: string
          format: password
          description: Пароль пользователя

    LoginData:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Электронная почта пользователя
        password:
          type: string
          format: password
          description: Пароль пользователя
    
    Error:
      type: object
      properties:
        message:
          type: string
          description: Сообщение ошибки
        timestamp:
          type: string
          format: date-time
          description: Время возникновения ошибки в формате ISO 8601
          
    AccessToken:
      type: object
      properties:
        access_token:
          type: string
          description: JWT токен для доступа